
.container {
    background-color: transparent;
    display: flex;
    height:  48px;
    width: 165vh;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 1px;
    padding: 1px; 
    border: 1px solid #5fb7fa; 
    
}

.boton {
    padding: 10px 8px;
    display: flex;
    margin: 8px;
    height: 22px;
    width: 126px;
    margin-right: -9px;
    background-color: lightgray;
    justify-content: center;
    text-align: center;
    border: transparent; 
    border-radius: 10px;
    font-family: Unisketch Light;
}

#search{
    padding: 10px 8px;
    display: flex;
    margin: 8px;
    height: 40px;
    width: 110px;
    margin-right: 2px;
    background-color: lightblue;
    justify-content: center;
    text-align: center;
    border: transparent; 
    border-radius: 10px;
    font-family: Unisketch Light;
}