---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./buscador.css" />
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
    </head>

    <body>  

        <Layout title="Welcome to Astro.">
            <main>

                <header>
                    <div>
                        <img src="/public/img/Ellipse-1.svg" class="logo">
                    </div>
                    <nav class="menu">
                        <input type="checkbox" id="menu-toggle" class="menu-toggle">
                        <label for="menu-toggle" class="menu-button">
                        <span class="menu-icon"></span>
                        </label>
                        <ul class="menu-items">
                            <li><a href="#">Item 1</a></li>
                            <li><a href="#">Item 2</a></li>
                            <li><a href="#">Item 3</a></li>
                        </ul>
                    </nav>
                </header>

                <div class="textHeader">
                <div class="circle"></div>
                <div class="rectangle1"></div>
                <div class="rectangle2"></div>
                <img src="/public/img/vamosMiti.svg" class="logoText">
                <div class="textHeaderContent">
                    <h2 class="title">Bus or carpool? <br>Your pick of rides at low prices.</h2>
                    <h2 class="subtitle">Amet minim mollit non deserunt ullamco est sit<br> aliqua dolor do amet sint. Velit officia consequat<br> duis enim velit mollit. </h2>
                </div>
                </div>

                <div class ="container">
                <div class="origin">
                    <label class="label-origin"><b>Origen</b> </label>
                    <input class="input" type="text" placeholder="Desde">
                </div>
                
                <div class="destination">
                    <label class="label-destination"><b>destino</b> </label>
                    <input class="input" type="text" placeholder="Hasta">
                </div>
                
                <div class="Date">
                    <label class="label-Date"><b>Fecha</b> </label>
                    <input class="input" type="text" placeholder="Elige la Date">
                </div>
                
                <div class="passengers">
                    <label class="label-number"><b>NUMERO DE PASAJEROS</b> </label>
                    <input class="input" type="number" placeholder="0">
                </div>
                
                <button id="search">Buscar Viaje</button>
                </div>

                <div class="cards">
                    <div class="principalTitle">
                        <h2 class="cardTitle">How does it work?</h2>
                        <h3 class="cardSubtitle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do <br> amet sint. Velit officia consequat duis enim velit mollit.</h3>
                    </div>
                    <img class="bg1" src="/public/img/bg1.svg" />
                    <img class="bg2" src="/public/img/bg2.svg" />

                <div class="card card1">
                    <img src="/public/img/num1.png" alt="Icono" class="icon" />
                    <div class="content">
                        <h3 class="title">Fill your details</h3>
                        <p class="subtitle">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                        </p>
                    </div>
                </div>

                <div class="card card2">
                    <img src="/public/img/num2.png" alt="Icono" class="icon" />
                    <div class="content">
                        <h3 class="title">Search for the perfect rides</h3>
                        <p class="subtitle">
                            met minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                        </p>
                    </div>
                </div>

                <div class="card card3">
                    <img src="/public/img/num3.png" alt="Icono" class="icon" />
                    <div class="content">
                        <h3 class="title">Select the route</h3>
                        <p class="subtitle">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                        </p>
                    </div>
                </div>

                <div class="card card4">
                    <img src="/public/img/num4.png" alt="Icono" class="icon" />
                    <div class="content">
                        <h3 class="title">Talk to the driver</h3>
                        <p class="subtitle">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                        </p>
                    </div>
                </div>

                <div class="card card5">
                    <img src="/public/img/num5.png" alt="Icono" class="icon" />
                    <div class="content">
                        <h3 class="title">Confirm your seat</h3>
                        <p class="subtitle">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                        </p>
                    </div>
                </div>
                </div>

                <div class="suscribe">
                    <p class="textSuscribe">Let's go. Get a link <br>to download the app.</p>
                    <input class="yourPhone" type="number" placeholder="Enter Your phone number">
                    <input class="linkButton" type="button" value="GET THE LINK">
                </div>

                <div class="benefitsTitle">
                <h2><span>Blablacar</span> benefits you with</h2>
                <h3>Amet minim mollit non deserunt ullamco est sit aliqua dolor do<br>amet sint. Velit officia consequat duis enim velit mollit.</h3>
                </div>

                <div class="benefitCard benefit01">
                <div>
                    <h2><span>01.</span> Ease of booking</h2>
                    <h3>Amet minim mollit non deserunt ullamco<br>est sit aliqua dolor do amet sint.</h3>
                </div>
                <img src="/public/img/benefit01.png" height="200px">
                </div>

                <div class="benefitCard benefit02">
                <img src="/public/img/benefit02.png" height="200px">
                <div>
                    <h2><span>02.</span> GPS tracking</h2>
                    <h3>Amet minim mollit non deserunt ullamco<br> est sit aliqua dolor do amet sint.</h3>
                </div>
                </div>

                <div class="benefitCard benefit03">
                <div>
                    <h2><span>03.</span> Comfortable &<br>secure rides</h2>
                    <h3>Amet minim mollit non deserunt ullamco<br> est sit aliqua dolor do amet sint.</h3>
                </div>
                <img src="/public/img/benefit03.png" height="200px">
                </div>

                <div class="benefitCard benefit04">
                <img src="/public/img/benefit04.png" height="200px">
                <div>
                    <h2><span>04.</span> Affordable prices</h2>
                    <h3>Amet minim mollit non deserunt ullamco<br> est sit aliqua dolor do amet sint.</h3>
                </div>
                </div>

                <div class="benefitCard benefit05">
                <div>
                    <h2><span>05.</span> 24/7 Service</h2>
                    <h3>Amet minim mollit non deserunt ullamco<br> est sit aliqua dolor do amet sint.</h3>
                </div>
                <img src="/public/img/benefit05.png" height="150px">
                </div>

                <div class="Blue-line">
                    <h2>Where do you want to go?</h2>
                    <div class="rectangles">
                        <div class="rectangle">
                            <p>Dehi > chandigart</p>
                        </div>

                        <div class="rectangle">
                            <p>D > chandigart</p>
                        </div>

                        <div class="rectangle">
                            <p>A > chandigart</p>
                        </div>
                    </div>
                </div>

                <footer>
                    <div class="footer-container">	
                        <div class="second-part">
                            <div class="left">
                                <h4>
                                    <b>Vamos mitimiti</b>
                                </h4>

                                <ul class="footer-list">
                                    <li><a href="#">Inicio</a></li>
                                    <li><a href="#">Acercate de nosotros</a></li>
                                    <li><a href="#">Contactanos</a></li>
                                </ul>
                            </div>

                            <div class="right">
                                <h4>
                                    <b>Registrate para nuestro boletin</b>
                                </h4>
                                <input class="input-footer" type="email" placeholder="Tu correo electronico">
                                <button id="suscribe">Suscribete</button>
                            </div>
                        </div>
                    </div>
                </footer>

            </main>
        </Layout>

    </body>
</html>

<style>
    /* #region seccion estilos principal */
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

    html, body {
        height: 100%;
        background-color: #ffffff;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 0 20px;
        background-color: #ffffff;
    }

    .logo {
        width: 50px;
    }

    .menu {
        position: relative;
    }

    .menu-toggle {
        display: none;
    }

    .menu-button {
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .menu-icon {
        width: 24px;
        height: 18px;
        background: url('/public/img/menu-1.svg') no-repeat center ;
        background-size: contain;
    }

    .menu-items {
        position: absolute;
        top: 50px;
        left: -60px;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-out;
        background-color: #ffffff;
        list-style: none;
        padding: 0px;
        margin: 0;
    }

    .menu-items li {
        padding: 10px 20px;
    }

    .menu-items li a {
        color: #000000;
        text-decoration: none;
    }

    .menu-toggle:checked ~ .menu-items {
        height: 120px;
    }

    .textHeader {
        position: relative;
        overflow: hidden;
        background-color: #261fff;
        color: #ffffff;
        text-align: left;
        padding: 80px;
        z-index: 1;
    }

    .title {
        font-size: 32px;
        font-weight: 600px;
        margin: 0;
        padding: 30px 0px 0px 80px;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 500px;
        margin: 0;
        padding: 20px 0px 10px 80px;
    }

    .logoText {
        float: right;
        margin: -30px 50px 0px 0px;
    }

    .circle {
    position: absolute;
    bottom: -20px;
    left: -65px;
    background-color: #f6d5da;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }

    .rectangle1 {
        position: absolute;
        top: 10%;
        left: 22%;
        transform: translateX(-50%);
        height: 340px;
        width: 80px;
        border: 70px solid transparent;
        background: linear-gradient(#6d69ff, transparent) border-box;
        border-radius: 120px;
        z-index: -1;
        -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
    }

    .rectangle2 {
        position: absolute;
        top: 50%;
        right: -19%;
        transform: translateY(-50%);
        height: 80px;
        width: 340px;
        border: 70px solid transparent;
        background: linear-gradient(90deg, #6d69ff, transparent) border-box;
        border-radius: 120px;
        z-index: -1;
        -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
    }

    .container {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        height:  30px;
        width: 65vw;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin: -37px auto;
        padding: 0px; 
        border: 39px solid white;
        border-radius: 13px;
        position: relative;
        font-family: "Manrope", sans-serif;
        box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1); 
        z-index: 1;
    }

    .origin,.Date,.destination,.passengers{
        margin-top: -2vh;
    }

    .label-origin{
        display: block;
        font-size: x-small;
    }

    .label-destination{
        display: block;
        font-size: x-small;
    }

    .label-Date{
        display: block;
        font-size: x-small;
    }

    .label-number{
        display: block;
        font-size: x-small;
    }

    .input {
        padding: 10px 8px;
        padding-right: 14px;
        display: flex;
        margin: 8px;
        height: 15px;
        width: 126px;
        margin-right: -7px;
        background-color: #f2f2f2;
        justify-content: center;
        text-align: center;
        border: 1px solid gray; 
        border-radius: 3px;
        font-family: "Manrope", sans-serif;
        margin-left: -3px;
    }

    #search {
        padding: 10px 8px;
        display: flex;
        margin: 8px;
        height: 36px;
        width: 129px;
        margin-right: -18px;
        background-color: #261fff;
        color: #ffffff;
        justify-content: center;
        text-align: center;
        border: transparent;
        border-radius: 3px;
        font-family: "Manrope", sans-serif;
    }	

    .cards {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 700px;
        margin-top: 250px;
    }

    .principalTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 900px;
        z-index: 3;
        font-family: "Manrope",;
    }   

    .cardTitle, .cardSubtitle {
        text-align: center;
    }

    .cards .bg1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 600px;
        max-height: 600px;
    }

    .cards .bg2 {
        position: absolute;
        top: calc(50% + 220px);
        left: calc(50% + 310px);
        transform: translate(-50%, -50%);
        z-index: 2;
        max-width: 280px;
        max-height: 280px;
    }

    .card {
        position: absolute;
        z-index: 3;
        background-color: #fff;
        border: 1px solid #ccc;
        width: 340px;
        height: 130px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    .card .icon {
        width: 50px;
        height: 50px;
        margin-top: -40px;
    }

    .card .content {
        padding: 0px;
    }

    .card .title {
        margin-top: -20px;
        font-size: 18px;
    }

    .card .subtitle {
        font-size: 13px;
    }

    .card1 {
        top: 50px;
        right: 20px;
        bottom: 20px;
        left: 100px;
    }

    .card2 {
        top: 50px;
        right: 20px;
        bottom: 20px;
        left: 925px;
    }

    .card3 {
        top: 440px;
        right: 20px;
        bottom: 20px;
        left: 160px;
    }

    .card4 {
        top: 350px;
        right: 20px;
        bottom: 20px;
        left: 980px;
    }

    .card5 {
        top: 560px;
        right: 20px;
        bottom: 20px;
        left: 600px;
    }

    .suscribe{
        background: #0000f0;
        display:flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        width: 90%;
        margin: 70px auto;
        padding: 20px;
		
    }

    .textSuscribe{
        color: #ffffff;
    }

    .yourPhone {
        width: 400px;
        height: 40px;
        border-radius: 5px;
        border: none;
    }

    .yourPhone::placeholder {
        text-align: center; 
    }

    .linkButton{
        background: #ffffff;
        color: #0000f0;
        border: 1px solid #0000f0;
        padding: 10px 20px;
        border-radius: 5px;
        width: 200px;
        height: 40px;
    }

    .benefitsTitle{
        text-align: center;
        margin-top: 50px;
    }

    .benefitsTitle span {
        color: #00aff5;
    }

    .benefitCard {
        background-color: #ebeaff;
        display:flex;
        justify-content: space-around;
        width: 80%;
        height: 300px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        margin-bottom: 20px;
    }

    .benefitCard span {
        font-size: 90px;
        color: #054752;
    }

    .Blue-line{
            background-color: #261fff;
            color: #ffffff;
            justify-content: center;
            font-family: "Manrope", sans-serif;
            margin: 80px auto;
            width: 95%;
            display: block;
            align-items: center;
            text-align: center;
            padding: 20px;
	}

    .rectangles{
        display: flex;
        align-items: center;
    }

    .rectangle{
		width: 16%;  
        max-width: 600px;
		border: solid white;
		background-color: #fff	;
		border-radius: 3px;
		margin-left: 252px;
        margin-right: -185px;
	}

	.rectangle p{
		color: gray;
	}

    footer {
		width: 100%;
		background-color: #261fff; 
		color: #ffffff;
        margin-top: -60px;
	}

    .footer-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        flex-direction: column;
        flex: 1
    }

    .second-part{
		display: flex;
		background-color: #fff;
		color: #000;
		font-family: "Manrope", sans-serif;
	}

    .left{
		margin-left:auto;
		list-style: none;
	}

    .footer-list{
		list-style: none;
		font-family: "Manrope", sans-serif;
		color: #000;
		padding: 0;
		margin-top: -19px;
	}

	.right{
		margin-inline-start: auto;
        margin-right: auto;
	}

	.right button{
        padding: 10px 8px;
        display: flex;
        margin: 8px;
        height: 36px;
        width: 42vw;
        background-color: #261fff;
        color: #ffffff;
        justify-content: center;
        border: transparent; 
        border-radius: 3px;
        margin-left:auto;
        font-family: "Manrope", sans-serif;
	}

    .input-footer {
        padding: 10px 8px;
        padding-right: 14px;
        display: flex;
        margin: 8px;
        height: 15px;
        width: 43vw;
        margin-right: -7px;
        background-color: #f2f2f2;
        text-align: justify;
        border: 1px solid gray; 
        border-radius: 3px;
        font-family: "Manrope", sans-serif;
        margin-left: -3px;
    }

    /* #endregion seccion estilos principal */


    @media (max-width: 1200px) {

        .cards {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 700px;
            margin-top: 200px;
        }

        .principalTitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 800px;
            z-index: 3;
            font-family: "Manrope";
        }   

        .cardTitle, .cardSubtitle {
            text-align: center;
        }

        .cards .bg1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            max-width: 450px;
            max-height: 450px;
        }

        .cards .bg2 {
            position: absolute;
            top: calc(50% + 200px);
            left: calc(50% + 260px);
            transform: translate(-50%, -50%);
            z-index: 2;
            max-width: 280px;
            max-height: 280px;
        }

        .card {
            position: absolute;
            z-index: 3;
            background-color: #fff;
            border: 1px solid #ccc;
            width: 270px;
            height: 100px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
        }

        .card .icon {
            width: 40px;
            height: 40px;
            margin-top: -32px;
        }

        .card .content {
            padding: 0px;
        }

        .card .title {
            margin-top: -20px;
            font-size: 14px;
        }

        .card .subtitle {
            margin-top: -10px;
            font-size: 10px;
        }

        .card1 {
            top: 140px;
            right: 20px;
            bottom: 20px;
            left: 150px;
        }

        .card2 {
            top: 80px;
            right: 20px;
            bottom: 20px;
            left: 750px;
        }

        .card3 {
            top: 440px;
            right: 20px;
            bottom: 20px;
            left: 150px;
        }

        .card4 {
            top: 330px;
            right: 20px;
            bottom: 20px;
            left: 820px;
        }

        .card5 {
            top: 560px;
            right: 20px;
            bottom: 20px;
            left: 570px;
        }
    }

    @media (max-width: 1024px) {

    .textHeader {
        position: relative;
        overflow: hidden;
        background-color: #261fff;
        color: #ffffff;
        text-align: left;
        padding: 80px;
        z-index: 1;
    }

    .title {
        font-size: 29px;
        font-weight: 600px;
        margin: 0;
        padding: 10px 0px 0px 30px;
    }

    .subtitle {
        font-size: 20px;
        font-weight: 500px;
        margin: 0;
        padding: 20px 0px 10px 30px;
    }

    .logoText {
        float: right;
        margin: -30px 50px 0px 0px;
        width: 230px;
    }

    .circle {
    position: absolute;
    bottom: -20px;
    left: -65px;
    background-color: #f6d5da;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

    .rectangle1 {
        position: absolute;
        top: 10%;
        left: 22%;
        transform: translateX(-50%);
        height: 300px;
        width: 80px;
        border: 70px solid transparent;
        background: linear-gradient(#6d69ff, transparent) border-box;
        border-radius: 120px;
        z-index: -1;
        -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
    }

    .rectangle2 {
        position: absolute;
        top: 50%;
        right: -19%;
        transform: translateY(-50%);
        height: 80px;
        width: 300px;
        border: 70px solid transparent;
        background: linear-gradient(90deg, #6d69ff, transparent) border-box;
        border-radius: 120px;
        z-index: -1;
        -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
    }

	.container {
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		height:  auto; 
		width: 35vw;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin: -60px auto;
		padding: 0px; 
		border: 39px solid white;
		border-radius: 13px;
		position: relative;
		font-family: "Manrope", sans-serif;
		box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1); /* Agrega la sombra abajo */
	}

	.label-origin{
		display: block;
		font-size: x-small;
		margin-top: 13px;
	}

	.label-destination{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}

	.label-Date{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}

	.label-number{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}

	.input {
		padding: 10px 8px;
		padding-right: 14px;
		display: flex;
		margin: 10px;
		height: 15px;
		width: 126px;
		margin-right: -7px;
		background-color: #f2f2f2;
		justify-content: center;
		text-align: center;
		border: 1px solid gray; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
		margin-left: -3px;
		
	}

	.origin,.Date,.destination,.passengers{
		margin-top: -2vh;
	}

	#search{
		padding: 10px 8px;
		display: flex;
		margin: 8px;
		height: 36px;
		width: 129px;
		background-color: #261fff;
		color: #ffffff;
		justify-content: center;
		text-align: center;
		border: transparent; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
	}

    .cards {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 700px;
        margin-top: 170px;
    }

    .principalTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 720px;
        z-index: 3;
        font-family: "Manrope",;
    }   

    .cardTitle, .cardSubtitle {
        text-align: center;
    }

    .cards .bg1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 400px;
        max-height: 400px;
}

    .cards .bg2 {
        position: absolute;
        top: calc(50% + 150px);
        left: calc(50% + 200px);
        transform: translate(-50%, -50%);
        z-index: 2;
        max-width: 200px;
        max-height: 200px;
    }

    .card {
        position: absolute;
        z-index: 3;
        background-color: #fff;
        border: 1px solid #ccc;
        width: 280px;
        height: 100px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    .card .icon {
        width: 30px;
        height: 30px;
        margin-top: -20px;
    }

    .card .content {
        padding: 5px;
    }

    .card .title {
        margin-top: -20px;
        font-size: 16px;
    }

    .card .subtitle {
        font-size: 11px;
    }

    .card1 {
        top: 170px;
        right: 20px;
        bottom: 20px;
        left: 100px;
    }

    .card2 {
        top: 120px;
        right: 20px;
        bottom: 20px;
        left: 610px;
    }

    .card3 {
        top: 490px;
        right: 20px;
        bottom: 20px;
        left: 70px;
    }

    .card4 {
        top: 300px;
        right: 20px;
        bottom: 20px;
        left: 710px;
    }

    .card5 {
        top: 480px;
        right: 20px;
        bottom: 20px;
        left: 500px;
    }

    .yourPhone {
        width: 380px;
        height: 40px;
        border-radius: 5px;
        border: none;
    }

    .linkButton{
        background: #ffffff;
        color: #0000f0;
        border: 1px solid #0000f0;
        padding: 10px 20px;
        border-radius: 5px;
        width: 180px;
        height: 40px;
    }

    .Blue-line{
		background-color: #261fff;
	    color: #ffffff;
	    text-align: center;
	    font-family: "Manrope", sans-serif;
		padding: 13px;
		margin-top: 80px;
		
	}

    .rectangles{
		display: flex;
    	justify-content: space-around;
    	flex-direction: row;
	}

	.rectangle{
		width: 25%;
    	max-width: 600px;
    	border: solid white;
    	background-color: #fff;
    	border-radius: 3px;
    	margin-left: auto;
    	margin-right: auto;
	}

	.rectangle p{
		color: gray;
	}
}

@media (max-width: 768px){

    .textHeader {
        position: relative;
        overflow: hidden;
        background-color: #261fff;
        color: #ffffff;
        text-align: left;
        padding: 80px;
        z-index: 1;
    }

    .title {
        font-size: 22px;
        font-weight: 600px;
        margin: 0;
        padding: 10px 0px 0px 0px;
    }

    .subtitle {
        font-size: 15px;
        margin: 0;
        padding: 20px 0px 10px 0px;
    }

    .logoText {
        float: right;
        margin: -30px 30px 0px 0px;
        width: 180px;
    }

    .circle {
    position: absolute;
    bottom: -20px;
    left: -65px;
    background-color: #f6d5da;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    }

    .rectangle1 {
        position: absolute;
        top: 10%;
        left: 22%;
        transform: translateX(-50%);
        height: 300px;
        width: 80px;
        border: 70px solid transparent;
        background: linear-gradient(#6d69ff, transparent) border-box;
        border-radius: 120px;
        z-index: -1;
        -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
    }

    .rectangle2 {
        position: absolute;
        top: 50%;
        right: -19%;
        transform: translateY(-50%);
        height: 80px;
        width: 300px;
        border: 70px solid transparent;
        background: linear-gradient(90deg, #6d69ff, transparent) border-box;
        border-radius: 120px;
        z-index: -1;
        -webkit-mask: /*4*/
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor; /*5'*/
        mask-composite: exclude; /*5*/
    }

    .container {
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		height:  auto; 
		width: 50vw;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin: -37px auto;
		padding: 0px; 
		border: 35px solid white;
		border-radius: 13px;
		position: relative;
		font-family: "Manrope", sans-serif;
		box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1);
        margin-top: -60px;

	}

	.label-origin{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}

	.label-destination{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}

	.label-Date{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}

	.label-number{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}

	.input {
		padding: 10px 8px;
		padding-right: 14px;
		display: flex;
		margin: 10px;
		height: 15px;
		width: 126px;
		margin-right: -7px;
		background-color: #f2f2f2;
		justify-content: center;
		text-align: center;
		border: 1px solid gray; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
		margin-left: -3px;
		
	}

	.origin,.Date,.destination,.passengers{
		margin-top: -2vh;
	}

	#search{
		padding: 10px 8px;
		display: flex;
		margin: 8px;
		height: 36px;
		width: 129px;
		background-color: #261fff;
		color: #ffffff;
		justify-content: center;
		text-align: center;
		border: transparent; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
	}

    .cards {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 700px;
        margin-top: 130px;
    }

    .principalTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 700px;
        z-index: 3;
        font-family: "Manrope",;
    }   

    .cardTitle{
        text-align: center;
        font-size: 22px;
    }

    .cardSubtitle{
        text-align: center;
        font-size: 13px;
        margin-top: -5px;
    }

    .cards .bg1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        max-width: 300px;
        max-height: 300px;
}

    .cards .bg2 {
        position: absolute;
        top: calc(50% + 115px);
        left: calc(50% + 140px);
        transform: translate(-50%, -50%);
        z-index: 2;
        max-width: 150px;
        max-height: 150px;
    }

    .card {
        position: absolute;
        z-index: 3;
        background-color: #fff;
        border: 1px solid #ccc;
        width: 200px;
        height: 90px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
    }

    .card .icon {
        width: 30px;
        height: 30px;
        margin-top: -20px;
    }

    .card .content {
        padding: 5px;
    }

    .card .title {
        margin-top: -10px;
        font-size: 12px;
    }

    .card .subtitle {
        font-size: 10px;
        margin-top: -15px;
    }

    .card1 {
        top: 190px;
        right: 20px;
        bottom: 20px;
        left: 70px;
    }

    .card2 {
        top: 160px;
        right: 20px;
        bottom: 20px;
        left: 450px;
    }

    .card3 {
        top: 400px;
        right: 20px;
        bottom: 20px;
        left: 70px;
    }

    .card4 {
        top: 300px;
        right: 20px;
        bottom: 20px;
        left: 530px;
    }

    .card5 {
        top: 470px;
        right: 20px;
        bottom: 20px;
        left: 340px;
    }

    .suscribe{
        background: #0000f0;
        display:flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        width: 90%;
        margin-top: -90px;
        padding: 20px;
    }

    .yourPhone {
        width: 280px;
        height: 40px;
        border-radius: 5px;
        border: none;
    }

    .linkButton{
        background: #ffffff;
        color: #0000f0;
        border: 1px solid #0000f0;
        padding: 10px 20px;
        border-radius: 5px;
        width: 130px;
        height: 40px;
    }

    .benefitsTitle{
        text-align: center;
        margin-top: -20px;
        margin-bottom: 30px
    }

    .benefitsTitle h2{
        font-size: 20px;
    }

    .benefitsTitle h3{
        font-size: 15px;
    }

    .benefitCard {
        background-color: #ebeaff;
        display:flex;
        justify-content: space-around;
        width: 80%;
        height: 300px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        margin-bottom: 20px;
    }

    .benefitCard h2{
        font-size: 25px;
    }

    .benefitCard h3{
        font-size: 15px;
    }

    .benefitCard span {
        font-size: 60px;
        color: #054752;
    }

    .benefitCard img {
            height: 170px;
        }

    .Blue-line{
		background-color: #261fff;
	    color: #ffffff;
	    text-align: center;
	    font-family: "Manrope", sans-serif;
		padding: 13px;
		margin-top: 50px;
		
	}

	.rectangles{
		display: flex;
    	justify-content: space-around;
    	flex-direction: row;
	}

	.rectangle{
		width: 25%;
    	max-width: 600px;
    	border: solid white;
    	background-color: #fff;
    	border-radius: 3px;
    	margin-left: auto;
    	margin-right: auto;
	}

	.rectangle p{
		color: gray;
	}
}

@media (max-width: 480px) {

.textHeader {
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0px 0px 20px;
}

.subtitle {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 0px 10px 20px;
}

.logoText {
    float: none;
    margin: 0 auto 20px;
    display: block;
    height: 140px;
}

.suscribe {
    background: #0000f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    flex-direction: column;
}

.yourPhone {
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.yourPhone::placeholder {
    text-align: center;
}

.textSuscribe {
    color: #ffffff;
    font-size: 15px;
    margin-bottom: 10px;
}

.linkButton {
    background: #ffffff;
    color: #0000f0;
    border: 1px solid #0000f0;
    padding: 10px 20px;
    border-radius: 5px;
    width: 50%;
    height: 40px;
    text-align: center;
}

.benefitsTitle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.benefitsTitle span {
    color: #00aff5;
}

.benefitsTitle h3 {
    font-size: 15px;
}

.benefitCard {
    background-color: #ebeaff;
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;        
}

.benefitCard span {
    font-size: 24px;
    color: #054752;
    text-align: center;
}

.benefitCard img {
    height: 180px;
}
}

@media (max-width: 425px){
	.rectangles{
		display: flex;
    	justify-content: space-around;
    	flex-direction: column;
	}

	.Blue-line{
		background-color: #261fff;
	    color: #ffffff;
	    text-align: center;
	    font-family: "Manrope", sans-serif;
		padding: 13px;
		margin-top: 80px;
		
	}
	.rectangle{
		width: 68%;  
    	max-width: 600px;
		border: solid white;
		background-color: #fff	;
		border-radius: 3px;
		margin-left: auto;
    	margin-right: auto;
		margin-bottom: 15px;
	}
	.rectangle p{
		color: gray;
	}
}

@media (max-width: 425px){

	.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
	flex-direction: column;
	flex: 1

}
	footer {
		width: 100%;
		bottom: 0;
		background-color: #261fff; 
		color: #ffffff; 
	}
	.second-part{
		display: flex;
    	background-color: #fff;
    	color: #000;
    	font-family: "Manrope", sans-serif;
    	flex-direction: column;
	}

	.left{
		margin-left:auto;
		list-style: none;
		margin-right: auto;
	}
	
	.footer-list{
		list-style: none;
		font-family: "Manrope", sans-serif;
		color: #000;
		padding: 0;
		margin-top: -19px;
	}
	.right{
		margin-inline-start: auto;	
    	margin-right: auto;
	}
	.right button{
	padding: 10px 8px;
    display: flex;
    margin: 8px;
    height: 36px;
    width: 80vw;
    background-color: #261fff;
	color: #ffffff;
    justify-content: center;
    border: transparent; 
    border-radius: 3px;
	margin-left:auto;
	font-family: "Manrope", sans-serif;
	}
	.input-footer {
    padding: 10px 8px;
	padding-right: 14px;
    display: flex;
    margin: 8px;
    height: 2vh;
    width: 80vw;
    margin-right: auto;
    background-color: #f2f2f2;
    text-align: justify;
    border: 1px solid gray; 
    border-radius: 3px;
	font-family: "Manrope", sans-serif;
    margin-left: auto;
	}
}

@media (max-width: 425px) {
	.container {
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		height:  78vh; 
		width: 65vw;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin: -37px auto;
		padding: 0px; 
		border: 39px solid white;
		border-radius: 13px;
		position: relative;
		font-family: "Manrope", sans-serif;
		box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1); /* Agrega la sombra abajo */

	}


	.label-origin{
		display: block;
		font-size: x-small;
		margin-top: -12px;
	}

	.label-destination{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.label-Date{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.label-number{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.input {
		padding: 10px 8px;
		padding-right: 14px;
		display: flex;
		margin: 10px;
		height: 15px;
		width: 126px;
		margin-right: -7px;
		background-color: #f2f2f2;
		justify-content: center;
		text-align: center;
		border: 1px solid gray; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
		margin-left: -3px;
		
	}
	.origin,.Date,.destination,.passengers{
		margin-top: -2vh;
	}

	#search{
		padding: 10px 8px;
		display: flex;
		margin: 8px;
		height: 36px;
		width: 129px;
		background-color: #261fff;
		color: #ffffff;
		justify-content: center;
		text-align: center;
		border: transparent; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
	}	
}

@media (max-width: 320px) {
	.container {
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		height:  auto; 
		width: 45vw;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin: -37px auto;
		padding: 0px; 
		border: 39px solid white;
		border-radius: 13px;
		position: relative;
		font-family: "Manrope", sans-serif;
		box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1); /* Agrega la sombra abajo */

	}
}

        @media (max-width: 320px) {

        .textHeader {
            padding: 20px;
        }

        .title {
            font-size: 24px;
            font-weight: 600;
            padding: 10px 0px 0px 20px;
        }

        .subtitle {
            font-size: 16px;
            font-weight: 500;
            padding: 10px 0px 10px 20px;
        }

        .logoText {
            float: none;
            margin: 0 auto 20px;
            display: block;
            height: 70px;
        }

        .suscribe {
            background: #0000f9;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 10px;
            width: 90%;
            margin: 0 auto;
            padding: 10px;
            flex-direction: column;
        }

        .yourPhone {
            width: 90%;
            height: 40px;
            border-radius: 5px;
            border: none;
            margin-bottom: 10px;
        }

        .yourPhone::placeholder {
            text-align: center;
        }

        .textSuscribe {
            color: #ffffff;
            font-size: 15px;
            margin-bottom: 10px;
        }

        .linkButton {
            background: #ffffff;
            color: #0000f0;
            border: 1px solid #0000f0;
            padding: 10px 20px;
            border-radius: 5px;
            width: 80%;
            height: 40px;
            text-align: center;
        }

        .benefitsTitle {
            text-align: center;
            font-size: 16px;
            margin-bottom: 10px;
    }

        .benefitsTitle span {
            color: #00aff5;
        }

        .benefitsTitle h3 {
            font-size: 15px;
        }

        .benefitCard {
            background-color: #ebeaff;
            display: flex;
            justify-content: space-around;
            width: 80%;
            height: auto;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            align-items: center;
            flex-direction: column;
            margin-bottom: 20px;        
        }

        .benefitCard span {
            font-size: 24px;
            color: #054752;
            text-align: center;
        }

        .benefitCard img {
            height: 150px;
        }
    }

        

</style>
