<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./buscador.css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>
<body>  

	<header>
		<div>
			<img src="/public/img/Ellipse-1.svg" class="logo">
		</div>
		<nav class="menu">
			<input type="checkbox" id="menu-toggle" class="menu-toggle">
			<label for="menu-toggle" class="menu-button">
			<span class="menu-icon"></span>
			</label>
			<ul class="menu-items">
				<li><a href="#">Item 1</a></li>
				<li><a href="#">Item 2</a></li>
				<li><a href="#">Item 3</a></li>
			</ul>
		</nav>
	</header>
	
	<div class="text">
		<img src="/public/img/vamosMiti.svg" class="logoText">
		<h2 class="title">Bus or carpool? <br>
			Your pick of rides at low prices.</h2>
		<h2 class="subtitle">Amet minim mollit non deserunt ullamco est sit<br> aliqua dolor do amet sint. Velit officia consequat<br> duis enim velit mollit. </h2>
		
	</div>
    <div class = "container">
		<div class = "origin">
			<label class="label-origin"><b>Origen</b> </label>
            <input class="input" type="text" placeholder="Desde">
		</div>		
		<div class = "destination">
			<label class="label-destination"><b>destino</b> </label>
        	<input class="input" type="text" placeholder="Hasta">
		</div>
		<div class ="Date">
			<label class="label-Date"><b>Fecha</b> </label>
            <input class="input" type="text" placeholder="Elige la Date">
        </div>
		<div class = "passengers">
			<label class="label-number"><b>NUMERO DE PASAJEROS</b> </label>
        	<input class="input" type="number" placeholder="0">
		</div>
			<button id = "search">Buscar Viaje</button>
    </div>
	<div class="Blue-line">
		<h2>Where do you want to go?</h2>
		<div class="rectangles">
			<div class="rectangle">
				<p>Dehi > chandigart</p>
			</div>
			<div class="rectangle">
				<p>D > chandigart</p>
			</div>
			
			<div class="rectangle">
				<p>A > chandigart</p>
			</div>
		</div>
	</div>

	<footer>
		<div class="footer-container">	
			<div class="second-part">
				<div class="left">
					<h4><b>Vamos mitimiti</b></h4>
						<ul class="footer-list">
							<li><a href="#">Inicio</a></li>
							<li><a href="#">Acercate de nosotros</a></li>
							<li><a href="#">Contactanos</a></li>
						</ul>
				</div>
				
				<div class="right">
					<h4><b>Registrate para nuestro boletin</b></h4>
					<input class="input-footer" type="email" placeholder="Tu correo electronico">
					<button id = "suscribe">Suscribete</button>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
<style>

html, body {
    height: 100%;
}
.container {
    background-color: white;
    display: flex;
	flex-wrap: wrap;
    height:  30px;
    width: 65vw;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: -37px auto;
    padding: 0px; 
    border: 39px solid white;
	border-radius: 13px;
    position: relative;
	font-family: "Manrope", sans-serif;
	box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1); /* Agrega la sombra abajo */

}


.label-origin{
	display: block;
	font-size: x-small;
}

.label-destination{
	display: block;
	font-size: x-small;
}
.label-Date{
	display: block;
	font-size: x-small;

}
.label-number{
	display: block;
	font-size: x-small;

}
.input {
    padding: 10px 8px;
	padding-right: 14px;
    display: flex;
    margin: 8px;
    height: 15px;
    width: 126px;
    margin-right: -7px;
    background-color: #f2f2f2;
    justify-content: center;
    text-align: center;
    border: 1px solid gray; 
    border-radius: 3px;
	font-family: "Manrope", sans-serif;
    margin-left: -3px;
    
}
.origin,.Date,.destination,.passengers{
	margin-top: -2vh;
}

#search{
    padding: 10px 8px;
    display: flex;
    margin: 8px;
    height: 36px;
    width: 129px;
    margin-right: -18px;
    background-color: #261fff;
	color: #ffffff;
    justify-content: center;
    text-align: center;
    border: transparent; 
    border-radius: 3px;
	font-family: "Manrope", sans-serif;
}	
@media (max-width: 425px) {
	.container {
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		height:  78vh; 
		width: 65vw;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin: -37px auto;
		padding: 0px; 
		border: 39px solid white;
		border-radius: 13px;
		position: relative;
		font-family: "Manrope", sans-serif;
		box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1); /* Agrega la sombra abajo */

	}


	.label-origin{
		display: block;
		font-size: x-small;
		margin-top: -12px;
	}

	.label-destination{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.label-Date{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.label-number{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.input {
		padding: 10px 8px;
		padding-right: 14px;
		display: flex;
		margin: 10px;
		height: 15px;
		width: 126px;
		margin-right: -7px;
		background-color: #f2f2f2;
		justify-content: center;
		text-align: center;
		border: 1px solid gray; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
		margin-left: -3px;
		
	}
	.origin,.Date,.destination,.passengers{
		margin-top: -2vh;
	}

	#search{
		padding: 10px 8px;
		display: flex;
		margin: 8px;
		height: 36px;
		width: 129px;
		background-color: #261fff;
		color: #ffffff;
		justify-content: center;
		text-align: center;
		border: transparent; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
	}	
}

@media (max-width: 768px) {
	.container {
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		height:  auto; 
		width: 50vw;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin: -37px auto;
		padding: 0px; 
		border: 39px solid white;
		border-radius: 13px;
		position: relative;
		font-family: "Manrope", sans-serif;
		box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1); /* Agrega la sombra abajo */

	}


	.label-origin{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}

	.label-destination{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.label-Date{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.label-number{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.input {
		padding: 10px 8px;
		padding-right: 14px;
		display: flex;
		margin: 10px;
		height: 15px;
		width: 126px;
		margin-right: -7px;
		background-color: #f2f2f2;
		justify-content: center;
		text-align: center;
		border: 1px solid gray; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
		margin-left: -3px;
		
	}
	.origin,.Date,.destination,.passengers{
		margin-top: -2vh;
	}

	#search{
		padding: 10px 8px;
		display: flex;
		margin: 8px;
		height: 36px;
		width: 129px;
		background-color: #261fff;
		color: #ffffff;
		justify-content: center;
		text-align: center;
		border: transparent; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
	}	
}

@media (max-width: 1024px) {
	.container {
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		height:  auto; 
		width: 35vw;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin: -37px auto;
		padding: 0px; 
		border: 39px solid white;
		border-radius: 13px;
		position: relative;
		font-family: "Manrope", sans-serif;
		box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1); /* Agrega la sombra abajo */

	}


	.label-origin{
		display: block;
		font-size: x-small;
		margin-top: 13px;
	}

	.label-destination{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.label-Date{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.label-number{
		display: block;
		font-size: x-small;
		margin-top: 12px;
	}
	.input {
		padding: 10px 8px;
		padding-right: 14px;
		display: flex;
		margin: 10px;
		height: 15px;
		width: 126px;
		margin-right: -7px;
		background-color: #f2f2f2;
		justify-content: center;
		text-align: center;
		border: 1px solid gray; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
		margin-left: -3px;
		
	}
	.origin,.Date,.destination,.passengers{
		margin-top: -2vh;
	}

	#search{
		padding: 10px 8px;
		display: flex;
		margin: 8px;
		height: 36px;
		width: 129px;
		background-color: #261fff;
		color: #ffffff;
		justify-content: center;
		text-align: center;
		border: transparent; 
		border-radius: 3px;
		font-family: "Manrope", sans-serif;
	}	
}
@media (max-width: 320px) {
	.container {
		background-color: white;
		display: flex;
		flex-wrap: wrap;
		height:  auto; 
		width: 45vw;
		align-items: center;
		justify-content: space-around;
		text-align: center;
		margin: -37px auto;
		padding: 0px; 
		border: 39px solid white;
		border-radius: 13px;
		position: relative;
		font-family: "Manrope", sans-serif;
		box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.1); /* Agrega la sombra abajo */

	}
}

	body{
	    background-color: #fff;
	}

	header {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    height: 60px;
	    padding: 0 20px;
	    background-color: #ffffff;
	    color: #000;
	}

	.logo {
	    width: 50px;
	}

	.menu {
	    position: relative;
	}

	.menu-toggle {
	    display: none;
	}

	.menu-button {
	    display: flex;
	    align-items: center;
	    cursor: pointer;
	}

	.menu-icon {
	    width: 24px;
	    height: 18px;
	    background: url('/public/img/menu-1.svg') no-repeat center ;
	    background-size: contain;
	}

	.menu-items {
	    position: absolute;
	    top: 50px;
	    left: -60px;
	    height: 0;
	    overflow: hidden;
	    transition: height 0.3s ease-out;
	    background-color: #ffffff;
	    list-style: none;
	    padding: 0px;
	    margin: 0;
	}

	.menu-items li {
	    padding: 10px 20px;
	}

	.menu-items li a {
	    color: #000000;
	    text-decoration: none;
	}

	.menu-toggle:checked ~ .menu-items {
	    height: 120px;
	}

	.text {
	    background-color: #261fff;
	    color: #ffffff;
	    text-align: left;
	    font-family: "Manrope", sans-serif;
	    padding: 80px;
	}

	.title {
	    font-size: 32px;
	    font-weight: 600px;
	    margin: 0;
	    padding: 30px 0px 0px 80px;
	}

	.subtitle {
	    font-size: 20px;
	    font-weight: 500px;
	    margin: 0;
	    padding: 20px 0px 10px 80px;
	}

	.logoText {
	    float: right;
	    margin: -30px 50px 0px 0px;
	}


.rectangles{
	display: flex;
}

.Blue-line{
		background-color: #261fff;
	    color: #ffffff;
	    text-align: center;
	    font-family: "Manrope", sans-serif;
		padding: 13px;
		margin-top: 80px;
	}
	.rectangle{
		width: 16%;  
    	max-width: 600px;
		border: solid white;
		background-color: #fff	;
		border-radius: 3px;
		margin-left: 252px;
    	margin-right: -185px;
	}
	.rectangle p{
		color: gray;
	}

@media (max-width: 768px){
	.rectangles{
		display: flex;
    	justify-content: space-around;
    	flex-direction: row;
	}

	.Blue-line{
		background-color: #261fff;
	    color: #ffffff;
	    text-align: center;
	    font-family: "Manrope", sans-serif;
		padding: 13px;
		margin-top: 80px;
		
	}
	.rectangle{
		width: 25%;
    	max-width: 600px;
    	border: solid white;
    	background-color: #fff;
    	border-radius: 3px;
    	margin-left: auto;
    	margin-right: auto;
	}
	.rectangle p{
		color: gray;
	}
}

@media (max-width: 425px){
	.rectangles{
		display: flex;
    	justify-content: space-around;
    	flex-direction: column;
	}

	.Blue-line{
		background-color: #261fff;
	    color: #ffffff;
	    text-align: center;
	    font-family: "Manrope", sans-serif;
		padding: 13px;
		margin-top: 80px;
		
	}
	.rectangle{
		width: 68%;  
    	max-width: 600px;
		border: solid white;
		background-color: #fff	;
		border-radius: 3px;
		margin-left: auto;
    	margin-right: auto;
		margin-bottom: 15px;
	}
	.rectangle p{
		color: gray;
	}
}
.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
	flex-direction: column;
	flex: 1

}
	footer {
		width: 100%;
		bottom: 0;
		background-color: #261fff; 
		color: #ffffff; 
	}
	.second-part{
		display: flex;
		background-color: #fff;
		color: #000;
		font-family: "Manrope", sans-serif;
		}
	.left{
		margin-left:auto;
		list-style: none;
	}
	
	.footer-list{
		list-style: none;
		font-family: "Manrope", sans-serif;
		color: #000;
		padding: 0;
		margin-top: -19px;
	}
	.right{
		margin-inline-start: auto;
    	margin-right: auto;
	}
	.right button{
	padding: 10px 8px;
    display: flex;
    margin: 8px;
    height: 36px;
    width: 42vw;
    background-color: #261fff;
	color: #ffffff;
    justify-content: center;
    border: transparent; 
    border-radius: 3px;
	margin-left:auto;
	font-family: "Manrope", sans-serif;
	}
	.input-footer {
    padding: 10px 8px;
	padding-right: 14px;
    display: flex;
    margin: 8px;
    height: 15px;
    width: 43vw;
    margin-right: -7px;
    background-color: #f2f2f2;
    text-align: justify;
    border: 1px solid gray; 
    border-radius: 3px;
	font-family: "Manrope", sans-serif;
    margin-left: -3px;
}
@media (max-width: 425px){

	.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
	flex-direction: column;
	flex: 1

}
	footer {
		width: 100%;
		bottom: 0;
		background-color: #261fff; 
		color: #ffffff; 
	}
	.second-part{
		display: flex;
    	background-color: #fff;
    	color: #000;
    	font-family: "Manrope", sans-serif;
    	flex-direction: column;
	}

	.left{
		margin-left:auto;
		list-style: none;
		margin-right: auto;
	}
	
	.footer-list{
		list-style: none;
		font-family: "Manrope", sans-serif;
		color: #000;
		padding: 0;
		margin-top: -19px;
	}
	.right{
		margin-inline-start: auto;	
    	margin-right: auto;
	}
	.right button{
	padding: 10px 8px;
    display: flex;
    margin: 8px;
    height: 36px;
    width: 80vw;
    background-color: #261fff;
	color: #ffffff;
    justify-content: center;
    border: transparent; 
    border-radius: 3px;
	margin-left:auto;
	font-family: "Manrope", sans-serif;
	}
	.input-footer {
    padding: 10px 8px;
	padding-right: 14px;
    display: flex;
    margin: 8px;
    height: 2vh;
    width: 80vw;
    margin-right: auto;
    background-color: #f2f2f2;
    text-align: justify;
    border: 1px solid gray; 
    border-radius: 3px;
	font-family: "Manrope", sans-serif;
    margin-left: auto;
}

}
</style>
