<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./buscador.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>  
    <div class = "container">
            <input class="input" type="text" placeholder="Leaving from">
			
		
        <input class="input" type="text" placeholder="Going to">
		<div class="input-container">
            <input class="input" type="text" placeholder="Select the date">
            <i class="fa-regular fa-calendar fa-2xs"></i>
        </div>
        <input class="input" type="number" placeholder="No. of travelers">
        <button id = "search">Search</button>
    </div>
    
</body>
</html>
<style>

.container {
    background-color: transparent;
    display: flex;
    height:  48px;
    width: 96vh;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 20px;
    padding: 0px; 
    border: 2px solid #9FDDF5; 
    
}
.input-container {
    position: relative;
	color: #dbdbdb; 
}

.fa-circle{
	position: relative;
	color: #dbdbdb; 
	left: -90px;
}
.fa-calendar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
	font-size: 1em;
    left: -90px;

}

.input {
    padding: 10px 8px;
	padding-right: 12px;
    display: flex;
    margin: 8px;
    height: 22px;
    width: 126px;
    margin-right: -7px;
    background-color: #F2F2F2;
    justify-content: center;
    text-align: center;
    border: transparent; 
    border-radius: 3px;
    font-family: Unisketch Light;
    margin-left: -3px;
    
}

#search{
    padding: 10px 8px;
    display: flex;
    margin: 8px;
    height: 40px;
    width: 103px;
    margin-right: 2px;
    background-color: #31AFF5;
    justify-content: center;
    text-align: center;
    border: transparent; 
    border-radius: 3px;
    font-family: Unisketch Light;
}	

</style>
